@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap');

@page {
  size: letter portrait;
  margin-left: 0in;
  margin-right: 0in;
  margin-top: 0in;
  margin-bottom: 0in;
  /* margin: 0.5in; */
}

* {
  box-sizing: border-box;
}

:root {
  /* --page-height: 11in; */
  --decorator-horizontal-margin: 2em;

  --sidebar-horizontal-padding: 2em;

  --decorator-outer-offset-top: 1em;
  --decorator-outer-offset-left: -0.4em;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 1px solid #ccc;

  --row-blocks-padding-top: 0.6em;
  --date-block-width: 6em;

  --main-blocks-title-icon-offset-left: -1.5em;
}

body {
  /* width: var(--page-width);
  height: var(--page-height); */
  /* position: relative; */
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: black;
  font-size: 11pt;
}

#page {
  /* display: flex; */
  padding: 3em;
}

a:link {
  border-bottom: none;
}

#main {
  /* flex: 2; */
  /* float: left;
  position: relative; */
  /* width: 60%; */
  height: 100%;
  /* padding-right: 1.5em; */
  /* display: inline-flex; */
}

#sidebar {
  /* flex: 1; */
  float: right;
  position: relative;
  width: 33%;
  padding-left: 1.5em;
  /* height: 80%; */
}

a:hover {
  border-bottom: dotted 1px;
}

hr {
  height: 0.5px;
  border-width: 0;
  color: #1e90ff;
  background-color: #1e90ff;
  margin-top: 3em;
  margin-bottom: 3em;
}

h1 {
  font-weight: 600;
  font-size: 40pt;
  letter-spacing: -2.5pt;
  color: #1e90ff;
  margin-bottom: 0em;
  margin-top: 0em;
}

h2 {
  color: #1e90ff;
  font-size: 14pt;
  /* margin-bottom: 0em; */
  /* padding-bottom: 0.5em; */
  /* margin: 3em 0 0 0; */
}

h3 {
  font-size: 11pt;
  font-weight: 500pt;
}

ul {
  margin-top: 0.5em;
  margin-left: 0;
  padding-left: 0;
}

p,
li {
  font-size: 11pt;
  /* font-family: 'Bitter', serif; */

}

#main li {
  margin-left: 1em;
}

#sidebar li {
  list-style-type: none;
}

.section-block {
  margin-bottom: 2.5em;
}

#contact {
  line-height: 1.5em;
  margin-top: 2em;
}

a,
a:visited {
  color: inherit;
}

a:link {
  text-decoration: none;
  /* border-bottom: dotted 1px; */
}

#about {
  margin-top: 0.5em;
  margin-bottom: 0em;
  word-break: keep-all;
}

.email:link {
  word-break: break-all;
}

.job-title,
.degree,
.skills-category {
  font-weight: 600;
}

.date,
.academic-honor {
  color: gray;
  font-size: 10pt;
}

.date:before {
  padding-left: 0.5em;
}

.item {
  margin-top: 1.2em;
}

.fa {
  padding-right: 0.5em;
}

#skills {
  line-height: 1.5;
}

@media print {
  .pagebreak {
    page-break-before: always;
    padding-top: 4em;
  }
}